name: Build and Push Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - uses: aws-actions/amazon-ecr-login@v2
      id: login

    - run: docker build -t strapi:${{ github.sha }} ./app

    - run: |
        docker tag strapi:${{ github.sha }} \
        ${{ steps.login.outputs.registry }}/strapi-app:${{ github.sha }}

    - run: |
        docker push \
        ${{ steps.login.outputs.registry }}/strapi-app:${{ github.sha }}

